@font-face {
  font-family: OpenSans;
  src: url(font/OpenSans-Semibold.ttf);
  font-style: nomal;
}
@font-face {
  font-family: OpenSans;
  src: url(font/OpenSans-Bold.ttf);
  font-weight: bold;
}
.BarraP a {
	font-family: OpenSans;
	color:#00AEC7;
}
h4{
 font-family: OpenSans;
  color:#00AEC7; 
  margin: 0;
}
h6{
 font-family: OpenSans;
  color:#00AEC7; 
  margin: 0;
}
p, li, table{
  
  color:#6a6a6a;
}
hr{
  margin: 0;
  border-color: #00AEC7;
  max-width: 18rem;
}
thead th {
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   background:#F5F5F5;
   z-index: 10;
   color:#6a6a6a;
}
.fijo{
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   background:#F5F5F5;
   z-index: 11;
}
.centrado {
  text-align: center;
}
.proyecto {
  text-align: justify;
}
.divtabla{
  height: 80vh;
  overflow: scroll;
}
.BarraP span {
	font-family: OpenSans;
	background:#00AEC7;
	font-size: inherit;
	opacity: 0.4;
	padding: 0.5em 1em;
	border-radius: 25px;
}

.divider {
	  border-bottom: none;
    border-top: none;
    border-right: solid 1px #1779ba;
    clear: none;
    height: 2rem;
    width: 0;
    margin-top: 0.25rem; 
}
.botondescubre{
  font-family: OpenSans;
  color:#00AEC7;
  opacity: 0.4;
  padding: 0.2em 0.7em;
  border-style: solid;
  border-width: 1.5px;

}
.img_esp{
  max-width: 280px;
}
.img-em{
  max-height: 70vh;
  object-fit: cover;
}
.div-img-em{
  padding-top: 2em;
  text-align: center;
}

.footer-image {
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 32vh;
  
  object-fit: cover; }

  .cliente-image {
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 50vh;
  
  object-fit: cover; }

  section{
    margin: 2em 0;
  }
  #quinto{
    margin: 0;
  }
  #cuatro{
    margin-bottom: 0;
  }

.contactodiv{
  height: 30vh;
  background-color: #6b6b6b;
  opacity: 0.4;
  text-align: center;
}
.finaldiv{
  height: 8vh;
  background-color: #1e1e1e;
  opacity: 0.4;
  text-align: center;
  color:#f7f7f7;
}
  @media screen and (max-width: 620px){

    .img_esp, .img-em{
      display: none;
    }

  }
  .divcontacto{
    position: relative;
  }
.divcontactoint{
  position: absolute;
  top:30%;
  text-align: center;
  width:100%;
}
.divcontactoint h4{
  color: #f7f7f7;
  font-style: normal;
}


.redessociales{
  border:0;
  box-shadow: none;
}
.redessociales img{
  max-height: 7vh;
}

.infocontacto p{
  margin-bottom: 0.4rem;
  color: #f7f7f7;
}
